body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;
    padding: 20px 20px 20px 20px;
}

hr {
    width: 100%;
    margin: 0px 0px 0px 0px;
}

.innerBody {
    background-color: #181818;
}

.sectionText {
    color: white;
    font-size: 18px;
    font-weight: bold;
    margin: 0px 0px 0px 0px;
    padding: 0px 10px 10px 0px;
}

.jobTitle {
    color: white;
    padding: 0px 10px 0px 0px;
    margin: 0px 0px 0px 0px;
}

.companyTitle {
    color: #7f7f7f;
}

.resumeText {
    color: #a0a0a0;
    font-size: 12px;
}

ul {
    padding: 0px 0px 00px 18px;
    margin: 0px 0px 0px 0px;
}

ul li {
    padding: 0px 00px 0px 0px;
    margin: 0px 0px 0px 0px;
}

.new {
    background-color: #181818;
    color: white;
}

a {
    color: cyan;
    text-decoration-color: cyan;
}

a:visited {
    color: cyan;
    text-decoration-color: cyan;
}

.big {
    color: white;
    font-size: 16px;
    font-weight: bolder;
    margin-bottom: 0px;
    /* margin-left: 10px; */
    padding-bottom: 0px;
}

.firstSectionContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-items:center;
    color: white;
    padding: 20px 20px 20px 20px;
}

.sectionContainer {
    color: white;
    padding: 0px 20px 20px 20px;
}

.profilePic {
    max-width: 20vh;
    margin: 0px 20px 10px 0px;
}

.nameAndTitleContainer {
    text-align: left;
    margin-right: 20px;
    margin-left: 0px;
}

.nameAndTitleContainer h1 {
    color: white;
    font-size: 24px;
    margin: 0px 10px 10px 0px;
    padding: 0px 0px 0px 0px;
}

.nameAndTitleContainer h4 {
    color: cyan;
    font-size: 16px;
    margin: 0px 10px 10px 0px;
    padding: 0px 0px 0px 0px;
}

.title1 {
    color: #00FFFF;
    font-size: 16px;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 3px 0px;
    font-weight: bold;
}

.title2 {
    color: #008888;
    font-size: 16px;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 3px 0px;
}

.title3 {
    color: #006666;
    font-size: 16px;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 3px 0px;
}

.title4 {
    color: #005555;
    font-size: 16px;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 3px 10px;
}

/* ============= CONTACT INFO =============*/
.contactInfoContainer {
    display: flex;
    flex-direction: column;
    margin: 10px 10px 10px 0px;
}

.contactRow {
    display: flex;
    font-size: 12px;
    flex-direction: row;
    padding-bottom: 4px;
}

.contactMethod {
    margin-right: 10px;
    text-align: right;
    text-wrap: nowrap;
    width: 22%;
}

.contactValue {
    margin-left: 0px;
    margin-right: 10px;
    text-align: left;
    text-wrap: nowrap;
    width: 60%;
}

/* CONTACT INFO END */

.bodyContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 10px 10px 10px 10px;
}

/* ============= EMPLOYMENT INFO =============*/

.employmentContainer {
    display: flex;
    flex-direction: column;
    justify-items: right;
}

.employmentRow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.employmentYear {
    width: fit-content;
    margin-bottom: 5px;
    padding-right: 10px;

    font-size: 14px;
    text-align: justify;
    text-wrap: nowrap;
    color: cyan;
}

.employmentDesc {
    width: 70%;
    margin-right: 10px;
    margin-bottom: 5px;
    margin-left: 5px;

    text-align: left;
    color: white;
    text-wrap:wrap;

}

.programmingSkillsContainer {
    display: flex;
    flex-wrap: nowrap;
    font-size: 12px;
}

/* ============= PROGRESS BAR STUFF =============*/
/* .progressBarContainer {
    color: #AFAFAF;
    font-size: 11px;
    width: 140px;
}

.progressBarLabel {
    color: #AfAfAf;
    font-size: 14px;
    margin-top: 0px;
}

.progressBar {

} */

/* ============= PROGRAMMING SKILLS =============*/
.programmingSkillsItem {
    color: #AfAfAf;
    font-size: 11px;
    width: 140px;
}

.programmingSkillsItem h3 {
    /* background-color: #404040; */
    color: #AfAfAf;
    font-size: 14px;
    margin-top: 0px;
}

.programmingSkillsItem h4 {
    /* background-color: #404040; */
    color: #AfAfAf;
    font-size: 6px;
}

.programmingSkillsVariable {
    color: #afafaf;
    /* background-color: #404040; */
    margin-bottom: 5px;
}

.programmingSkillsBar {
    background-color: #343434;
    margin-bottom: 10px;
    width: 100%;
    /* max-width: 100px; */
}

/* .programmingSkillsValue1:hover {
    transition-property: width;
    transition-duration: 3s;
    width: 0%;
} */

.programmingSkillsValue1 {
    color: white;
    background-color: blue;
    text-align: right;
    width: 75%;
}

.programmingSkillsValue2 {
    color: white;
    background-color: green;
    text-align: right;
    width: 60%;
}

.programmingSkillsValue3 {
    color: white;
    background-color: darkmagenta;
    text-align: right;
    width: 70%;
}

.programmingSkillsValue4 {
    color: white;
    background-color: red;
    text-align: right;
    width: 55%;
}

.programmingSkillsValue5 {
    color: white;
    background-color: darkorange;
    text-align: right;
    width: 80%;
}

.languageSkillsValue1 {
    color: white;
    background-color: blue;
    text-align: right;
    width: 95%;
}

.languageSkillsValue2 {
    color: white;
    background-color: green;
    text-align: right;
    width: 90%;
}

.languageSkillsValue3 {
    color: white;
    background-color: purple;
    text-align: right;
    width: 70%;
}

.languageSkillsValue4 {
    color: white;
    background-color: red;
    text-align: right;
    width: 75%;
}

.languageSkillsValue5 {
    color: white;
    background-color: darkorange;
    text-align: right;
    width: 80%;
}


/* .graphicSkillsContainer {
}

.graphicSkillsItem {
}

.graphicSkillsVariable {
}

.graphicSkillsValue {
}

.languageSkillsContainer {
}

.languageSkillsItem {
}

.languageSkillsVariable {
}
*/

.mediaSkillsValue1 {
    color: white;
    background-color: blue;
    text-align: right;
    width: 100%;
}

.mediaSkillsValue2 {
    color: white;
    background-color: green;
    text-align: right;
    width: 100%;
}

.mediaSkillsValue3 {
    color: white;
    background-color: purple;
    text-align: right;
    width: 70%;
}

.mediaSkillsValue4 {
    color: white;
    background-color: red;
    text-align: right;
    width: 65%;
}

.mediaSkillsValue5 {
    color: white;
    background-color: darkorange;
    text-align: right;
    width: 60%;
}


