body {
    background-color: black;
    padding: 10px 10px 10px 10px;
}

.sectionText {
    color: white;
    font-size: 18px;
    font-weight: bold;
    margin: 0px 0px 0px 0px;
    padding: 0px 10px 10px 0px;
}

.jobTitle {
    color: white;
    padding: 0px 10px 0px 0px;
    margin: 0px 0px 0px 0px;
}

.companyTitle {
    color: #7f7f7f;
    padding: 0px 10px 0px 0px;
    margin: 0px 0px 0px 0px;
}

.resumetext {
    color: #a0a0a0;
    font-size: 12px;
}

ul {
    padding: 0px 0px 00px 0px;
    margin: 0px 0px 0px 0px;
}

ul li {
    padding: 0px 00px 0px 0px;
    margin: 0px 0px 0px 0px;
}

.new {
    background-color: #181818;
    color: white;
}

a {
    color: cyan;
    text-decoration-color: cyan;
}

a:visited {
    color: cyan;
    text-decoration-color: cyan;
}


.big1 {
    color: white;
    font-size: 16px;
    font-weight: bolder;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 0px;
    margin-left: 10px;
    padding-bottom: 0px;
}

.sectionContainer {
    display: flex;
    flex-direction: row;
    background-color: #181818;
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding: 20px 20px 0px 20px;

    /* background-image: url("PHOTOSHOPPED - Interwave EEPROM Code From The Internet.png"); */


}

.taglineContainer {
    /* display: flex; */
    /* flex-direction: row; */
    background-color: #181818;
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    /* margin: 10px 10px 10px 10px; */
    padding: 10px 0px 1px 10px;
}

.tagline1 {
    color: #00FFFF;
    font-size: 16px;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 5px 10px;
    font-weight: bold;
}

.tagline2 {
    color: #008888;
    font-size: 16px;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 5px 10px;
}

.tagline3 {
    color: #006666;
    font-size: 16px;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 5px 10px;
}

.tagline4 {
    color: #005555;
    font-size: 16px;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 5px 10px;
}

.headerContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 10px 10px 10px 10px;
}

.profilePic {
    max-width: 20vh;
    /* padding: 10px; */
}

.nameAndTitle {
    width: 300px;
    text-align: left;
    padding-right: 0px;
    margin-right: 20px;
    margin-left: 20px;
}

.nameAndTitle h1 {
    color: white;
    font-size: 24px;
    margin: 0px 10px 10px 10px;
    padding: 0px 0px 0px 0px;
}

.nameAndTitle h4 {
    color: cyan;
    font-size: 16px;
    margin: 0px 10px 10px 10px;
    padding: 0px 0px 0px 0px;
}

/* ============= CONTACT INFO =============*/
.contactInfoContainer {
    display: flex;
    flex-direction: column;
    /* justify-items: right; */
}

.contactRow {
    display: flex;
    font-size: 12px;
    flex-direction: row;
    width: 300px;
    padding-bottom: 4px;
}

.contactVariable {
    margin-left: 10px;
    margin-right: 5px;
    text-align: right;
    width: 75px;
    /* width: 300px; */
}

.contactValue {
    margin-left: 5px;
    margin-right: 10px;
    text-align: left;
    width: 100px;
    /* width: 300px; */
}

.bodyContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 10px 10px 10px 10px;
}

/* ============= EMPLOYMENT INFO =============*/

.employmentContainer {
    display: flex;
    width: 500px;
    flex-direction: column;
    justify-items: right;
    /* flex-wrap: nowrap; */
    /* flex-direction: column; */
    /* flex-wrap: nowrap; */
    /* align-items: flex-start; */
    /* padding: 10px 10px 10px 10px; */
}

.employmentRow {
    flex-direction: row;
    width: 500px;
    display: flex;
    flex-wrap: wrap;
}

.employmentYear {
    width: 25%;
    color: cyan;
    text-align: left;
    margin-bottom: 5px;
    margin-right: 10px;
    padding-right: 0px;
    font-size: 14px;
}

.employmentDesc {
    width: 70%;
    color: white;
    margin-left: 5px;
    margin-right: 10px;
    text-align: left;
    margin-bottom: 5px;
}

.programmingSkillsContainer {
    display: flex;
    flex-wrap: nowrap;
    font-size: 12px;
    /* justify-content: flex-start; */
    /* justify-content: space-around; */
}

/* ============= PROGRAMMING SKILLS =============*/
.programmingSkillsItem {
    color: #AfAfAf;
    font-size: 11px;
    width: 140px;
}

.programmingSkillsItem h3 {
    /* background-color: #404040; */
    color: #AfAfAf;
    font-size: 14px;
    margin-top: 0px;
}

.programmingSkillsItem h4 {
    /* background-color: #404040; */
    color: #AfAfAf;
    font-size: 6px;
}

.programmingSkillsVariable {
    color: #afafaf;
    /* background-color: #404040; */
    margin-bottom: 5px;
}

.programmingSkillsBar {
    background-color: #343434;
    margin-bottom: 10px;
    width: 100%;
    /* max-width: 100px; */
}

.programmingSkillsValue1 {
    color: white;
    background-color: blue;
    text-align: right;
    width: 75%;
}

.programmingSkillsValue2 {
    color: white;
    background-color: darkgreen;
    text-align: right;
    width: 60%;
}

.programmingSkillsValue3 {
    color: white;
    background-color: darkmagenta;
    text-align: right;
    width: 70%;
}

.programmingSkillsValue4 {
    color: white;
    background-color: blueviolet;
    text-align: right;
    width: 55%;
}

.programmingSkillsValue5 {
    color: white;
    background-color: darkslategray;
    text-align: right;
    width: 80%;
}

.languageSkillsValue1 {
    color: white;
    background-color: blue;
    text-align: right;
    width: 95%;
}

.languageSkillsValue2 {
    color: white;
    background-color: darkgreen;
    text-align: right;
    width: 90%;
}

.languageSkillsValue3 {
    color: white;
    background-color: purple;
    text-align: right;
    width: 70%;
}

.languageSkillsValue4 {
    color: white;
    background-color: blueviolet;
    text-align: right;
    width: 75%;
}

.languageSkillsValue5 {
    color: white;
    background-color: darkslategray;
    text-align: right;
    width: 80%;
}


/* .graphicSkillsContainer {
}

.graphicSkillsItem {
}

.graphicSkillsVariable {
}

.graphicSkillsValue {
}

.languageSkillsContainer {
}

.languageSkillsItem {
}

.languageSkillsVariable {
}
*/

.mediaSkillsValue1 {
    color: white;
    background-color: blue;
    text-align: right;
    width: 100%;
}

.mediaSkillsValue2 {
    color: white;
    background-color: darkgreen;
    text-align: right;
    width: 100%;
}

.mediaSkillsValue3 {
    color: white;
    background-color: purple;
    text-align: right;
    width: 70%;
}

.mediaSkillsValue4 {
    color: white;
    background-color: blueviolet;
    text-align: right;
    width: 65%;
}

.mediaSkillsValue5 {
    color: white;
    background-color: darkslategray;
    text-align: right;
    width: 60%;
}


